/*Layout do Site*/

body{
	height: 100vh;
	background-image: url("img/torcida.jpg");
}

.traço{
	height: 1vh;
	background: #08088A;
}

.header{
	height: 6vh;
	padding: 0 0;
	background: rgba(11,11,59,0.4);
}

.menu{
	display: inline-block;
	text-transform: uppercase;
	text-align: right;
	font-size: 3vh;
	float: right;
	height: 100%;
}

.menu ul{
	margin: 1.5vh 0 ;
}

.menu ul li a{
	padding: 1.5vh 3vw 1.1vh 3vw;
	border-radius: 0rem;
	/*color: #ebebeb;*/
	color: #FFFF00;
}

.menu ul li a:hover{
	text-decoration: none;
	background: #08088A;
	color: #ebebeb;
}

.logo{
	padding: 3vh 0;
	height: 14vh;
}

.logo img{
    height: 14vh;
    width: auto;
    display: block;
	margin: 0 auto;
}

.cards{
	height: 61vh;
	text-align: center;
}

.card{
	height: 50vh;
	margin: 7vh 1.5% 4vh 1.5%;
	width: 20%;
	background: rgba(254,100,46,0.8);
	border-radius: 1rem;
}

.card form input.in{
	display: block;
	width: 100%;
	border-radius: .25rem;
	background-color: #FFFFFF;
	margin: 0.2vw 0;
	border: 1px solid transparent;
	line-height: 2;
	color: #495057;
	margin: 0.5vh 0;
}

.c_cima{
	width: 100%;
	height: 80%;
	margin: 0 0;
	padding: 0 0;
}

.imgbola{
	width: 100%;
	height: 20%;
	margin: 0 0;
	padding: 0 0;
}

.imgbola img{
	height: 100%;
	width: auto;
	margin-left: 0;
	float: left;
}

.footer{
	height: 8vh;
	padding: 2vh 0;
	text-align: center;
	font-weight: 500;
	background: rgba(11,11,59,0.4);
}

.footer p{
	display: inline;
	margin-right: 3vw;
}

.footer p, .footer a, .footer span{
	color: #FFFF00;
}

h4{
	color:white;
	margin-left: auto;
	margin-right: auto;
}

.botao{
	background: #0B0B61;
	width: 100%;
	height: 2.2vw;
	border-radius: 0.2rem;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	border: none;
}