<!DOCTYPE html> <!--   -->
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta name="description" content="Sistema de controle de acesso de torcedores a estádios de futebol"/>
	<meta name="keywords" content="AoTorcedor, controle de acesso, torcedores, estádios, futebol"/>
	<meta name="author" content="ESFIRRA"/>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="CSS Normalize.css"/>
	<link rel="stylesheet" type="text/css" href="Grid.css"/>
	<link rel="stylesheet" type="text/css" href="Reutilizaveis.css"/>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<title>AoTorcedor</title>
	<link rel="shortcut icon" href="logo/mao.ico"/>
</head>
<body>
	<div class="superlinha logo">
		<img src="img/Logo.png" alt="logo"/>
	</div>
	<div class="linha cards">
		<div class="ampliar coluna card">
			<h3>Login</h3><br>
			<p>Faça seu login e comece a pontuar agora mesmo!</p>
			<form method="POST" class="" action="menu_user.html">
				<input type="text" name="login" id="login" placeholder="Login" class="in"/>
				<input type="text" name="senha" id="senha" placeholder="Senha" class="in"/>
				<input type="submit" name="enviar" href="menu_user.html" class="botao" value="Entrar"/>
			</form>
		</div>
		<div class="ampliar coluna card">
			<h3>Cadastro</h3><br>
			<p>Cadastre-se e garanta idas seguras e confortavéis!</p>
			<form method="POST" class="" action="cadastro.html">
				<input type="text" name="email" id="email" placeholder="Endereço de Email" class="in"/>
				<input type="text" name="cidade" id="cidade" placeholder="Cidade" class="in"/>
				<input type="text" name="estado" id="estado" placeholder="Estado, como PE, SP..." class="in"/>
				<input type="submit" name="continuar" href="cadastro.html" class="botao" value="Continuar Cadastro"/>
			</form>
		</div>
		<div class="sumir coluna card">
			<h3>Saiba mais!</h3><br>
			<p>Descubra como o nosso sistema tem tornado a ida às arquibancadas muito mais prazerosas!</p>
			<form method="POST" class="" action="saiba_mais.html">
				<input type="submit" name="continuar" href="saiba_mais.html" class="botao" value="Saber Mais"/>
			</form>
		</div>
	</div>
	<div class="footer superlinha">
		<span>&copy; 2018 - AoTorcedor</span>
		<a href="#" class="fa fa-facebook"></a>
		<a href="#" class="fa fa-twitter"></a>
		<br>
		<p>Dúvidas? Ligue 0800-887-0201</p>
		<a href="#"><p>Termos de uso</p></a>
		<a href="#"><p>Declaração de privacidade</p></a>
	</div>
</body>
</html>