.superlinha{
	width: 100%;
}

.coluna{
	padding: 0 1%;
	float: left;
}

.col1{
	width: 8%;
}

.col2{
	width: 18%;
}

.col3{
	width: 28%;
}

.col4{
	width: 38%;
}

.col5{
	width: 48%;
}

.col6{
	width: 58%;
}

.col7{
	width: 68%;
}

.col8{
	width: 78%;
}

.col9{
	width: 88%;
}

.col10{
	width: 98%;
}
