/*Layout do Site*/

body{
	height: 100vh;
	background-image: url("img/soccer.jpg");
}

.traço{
	height: 1vh;
	background: #08088A;
}

.header{
	height: 6vh;
	padding: 0 0;
	background: rgba(11,11,59,0.4);
}

.menu{
	display: inline-block;
	text-transform: uppercase;
	text-align: right;
	font-size: 3vh;
	float: right;
	height: 100%;
}

.menu ul{
	margin: 1.5vh 0 ;
}

.menu ul li a{
	padding: 1.5vh 3vw 1.1vh 3vw;
	border-radius: 0rem;
}

.menu ul li a:hover{
	text-decoration: none;
	background: #08088A;
	color: #ebebeb;
}

.logo{
	padding: 3vh 0;
	height: 14vh;
}

.logo img{
    height: 14vh;
    width: auto;
    display: block;
	margin: 0 auto;
}

.cadastro{
	height: 50vh;
	text-align: center;
}

.card{
	height: 46vh;
	width: 98%;
	margin: 3vh 0 1vh 0;
	background: rgba(242,245,169,0.8);
	border-radius: 1rem;
}

.card form input.in, .card form select{
	display: block;
	width: 100%;
	border-radius: .25rem;
	background-color: #FFFFFF;
	border: 1px solid transparent;
	line-height: 2;
	color: #495057;
	margin: 1vh 0;
}


.card form input, .card form select {
	margin: 1.4vh 0;
	display: inline-block;
}

.label{
	display: block;
}

.card form input.in1{
	width: 49.4%;
	border-radius: .25rem;
	background-color: #FFFFFF;
	border: 1px solid transparent;
	line-height: 2;
	color: #495057;
}

.card form input.in2{
	width: 24.4%;
	border-radius: .25rem;
	background-color: #FFFFFF;
	border: 1px solid transparent;
	line-height: 2;
	color: #495057;
}

.seta{
	width: 100vw;
	padding: 1vh 0;
	height: 8vh;
	display: block;
	margin: 0 auto;
}

.seta1, .seta2{
	height: 8vh;
	width: 49vw;
	display: inline-block;
}

.seta1 img{
	height: 6vh;
    width: auto;
    display: block;
	margin: 0 0 0 auto;
	cursor: pointer;
}

.seta2 img{
	height: 6vh;
    width: auto;
    display: block;
	margin: 0 auto 0 0;
	cursor: pointer;
}

.footer{
	height: 9vh;
	padding: 2vh 0;
	text-align: center;
	font-weight: 500;
	background: rgba(11,11,59,0.4);
}

.footer p{
	display: inline;
	margin-right: 3vw;
}

#backButton {
	border-radius: 4px;
	padding: 8px;
	border: none;
	font-size: 16px;
	background-color: #2eacd1;
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.invisible {
	display: none;
}
